<?xml version="1.0"?>
<config>
    <modules>
        <Born_Handling>
            <version>0.1.1</version>
        </Born_Handling>
    </modules>
    <global>
        <helpers>
            <handling>
                <class>Born_Handling_Helper</class>
            </handling>
        </helpers>
        <models>
            <handling>
                <class>Born_Handling_Model</class>
            </handling>
        </models>
        <blocks>
            <handling>
                <class>Born_Handling_Block</class>
            </handling>
        </blocks>
        <resources>
            <handling_fee>
                <setup>
                    <module>Born_Handling</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </handling_fee>
        </resources>
        <sales>
            <quote>
                <totals>
                    <handling>
                        <class>handling/sales_quote_address_total_fee</class>
                        <renderer>handling/checkout_totals_fee</renderer>
                        <admin_renderer>handling/adminhtml_sales_order_create_totals_fee</admin_renderer>
                        <!-- <after>customerbalance,discount,freeshipping,msrp,nominal,shipping,subtotal,tax,tax_shipping,tax_subtotal,weee</after> -->
                        <after>discount</after>
                        <before>grand_total</before>
                    </handling>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <handling>
                        <class>handling/sales_order_total_invoice_fee</class>
                        <renderer>handling/checkout_totals_fee</renderer>
                        <admin_renderer>handling/adminhtml_sales_order_create_totals_fee</admin_renderer>
                    </handling>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <handling>
                        <class>handling/sales_order_total_creditmemo_fee</class>
                        <renderer>handling/checkout_totals_fee</renderer>
                        <admin_renderer>handling/adminhtml_sales_order_create_totals_fee</admin_renderer>
                    </handling>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <born_prepare_totals_for_order>
                        <class>handling/observer</class>
                        <method>calculateTotalsWithFee</method>
                    </born_prepare_totals_for_order >
                </observers>
            </adminhtml_sales_order_create_process_data_before>
            <sales_order_invoice_save_after>
                <observers>
                    <born_sales_order_invoice_save_after>
                        <class>handling/observer</class>
                        <method>invoiceSaveAfter</method>
                    </born_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <checkout_submit_all_after>
                <observers>
                    <born_prepare_totals_for_order_quote>
                        <class>handling/observer</class>
                        <method>orderFee</method>
                    </born_prepare_totals_for_order_quote >
                </observers>
            </checkout_submit_all_after>
        </events>
		<pdf>
			<totals>
				<fee translate="title">
					<title>Handling Fee</title>
					<source_field>fee_amount</source_field>
					<font_size>7</font_size>
					<display_zero>1</display_zero>
					<sort_order>300</sort_order>
				</fee>
			</totals>
		</pdf>
    </global>
    <fieldsets>
        <sales_convert_quote>
            <fee_amount>
                <to_order>*</to_order>
            </fee_amount>
            <base_fee_amount>
                <to_order>*</to_order>
            </base_fee_amount>
        </sales_convert_quote>
        <sales_convert_order>
            <fee_amount>
                <to_quote>*</to_quote>
            </fee_amount>
            <base_fee_amount>
                <to_quote>*</to_quote>
            </base_fee_amount>
        </sales_convert_order>
    </fieldsets>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <born_handling after="Mage_Adminhtml">Born_Handling_Adminhtml</born_handling>
                    </modules>
                </args>	
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <handling module="handling">
                    <file>born/handling.xml</file>
                </handling>
            </updates>
        </layout>
    </adminhtml>
</config>
