<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_ShadeGuide>
            <version>1.0.0</version>
        </WeltPixel_ShadeGuide>
    </modules>
    <global>
        <blocks>
            <shadeguide>
                <class>WeltPixel_ShadeGuide_Block</class>
            </shadeguide>
        </blocks>
        <helpers>
            <shadeguide>
                <class>WeltPixel_ShadeGuide_Helper</class>
            </shadeguide>
        </helpers>
        <models>
            <shadeguide>
                <class>WeltPixel_ShadeGuide_Model</class>
            </shadeguide>
        </models>
    </global>
    <frontend>
        <routers>
            <shadeguide>
                <use>standard</use>
                <args>
                    <module>WeltPixel_ShadeGuide</module>
                    <frontName>shadeguide</frontName>
                </args>
            </shadeguide>
        </routers>
        <layout>
            <updates>
                <shadeguide>
                    <file>weltpixel/shadeguide.xml</file>
                </shadeguide>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <shadeguide>
                    <file>weltpixel/shadeguide.xml</file>
                </shadeguide>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <shadeguide>
            <general>
                <enable>1</enable>
            </general>
        </shadeguide>
    </default>
</config>