/* Colors */
$black: #25272b;
$icon-color: #939cac;
$menu-border-color: #f1f3f6;
$search-background: #aaaeb6;
$dark-grey-background: #7d8084;
$light-grey-background: #f8f9fa;
$light-grey-table-cell: #fafafa;
$routine-number-color: #d8d8d5;
$modal-border-color: #e7e7e7;
$red: #d22222;


/* Breakpoints */
$b2c-mobile-menu: 1150px;
$b2b-mobile-menu: 1150px;
$mobile-nexus-6p: 435px;
