<?xml version="1.0"?>
<config>
    <modules>
        <Astral_Optionswatch>
            <version>0.0.1</version>
        </Astral_Optionswatch>
    </modules>
    <global>
        <blocks>
            <optionswatch>
                <class>Astral_Optionswatch_Block</class>
            </optionswatch>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Astral_Optionswatch_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <product_view_media>Astral_Optionswatch_Block_Catalog_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <optionswatch>
                <class>Astral_Optionswatch_Helper</class>
            </optionswatch>
        </helpers>
        <models>
            <optionswatch>
                <class>Astral_Optionswatch_Model</class>
                <resourceModel>optionswatch_mysql4</resourceModel>
            </optionswatch>
            <optionswatch_mysql4>
                <class>Astral_Optionswatch_Model_Mysql4</class>
                <entities>
                    <swatch>
                        <table>catalog_product_option_swatch</table>
                    </swatch>
                </entities>
            </optionswatch_mysql4>
        </models>
        <resources>
            <optionswatch_setup>
                <setup>
                    <module>Astral_Optionswatch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </optionswatch_setup>
            <optionswatch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </optionswatch_write>
            <optionswatch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </optionswatch_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <Astral_Optionswatch>
                <use>standard</use>
                <args>
                    <module>Astral_Optionswatch</module>
                    <frontName>optionswatch</frontName>
                </args>
            </Astral_Optionswatch>
        </routers>
        <layout>
            <updates>
                <optionswatch>
                    <file>optionswatch.xml</file>
                </optionswatch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <optionswatch>
                <use>admin</use>
                <args>
                    <module>Astral_Optionswatch</module>
                    <frontName>optionswatch</frontName>
                </args>
            </optionswatch>
        </routers>		
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <optionswatch_adminhtml>
                    <file>optionswatch.xml</file>
                </optionswatch_adminhtml>
            </updates>
        </layout>	
        <menu>
            <catalog translate="title" module="optionswatch">
                <children>
                    <optionswatch translate="title" module="optionswatch">
                        <title>Product Attribute Options</title>
                        <sort_order>21</sort_order>
                        <action>optionswatch/adminhtml_swatch</action>
                    </optionswatch>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>			
                        <catalog translate="title" module="optionswatch">
                            <children>
                                <optionswatch translate="title" module="optionswatch">
                                    <title>Product Attribute Options</title>
                                    <sort_order>21</sort_order>
                                </optionswatch>
                            </children>
                        </catalog>
                    </children>		
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>