/* Breakpoints */
$page-width: 1600px;

$desktop-pro-xl: 1550px;
$desktop-pro-l: 1450px;
$desktop-m: 1380px;
$desktop-s: 1280px;
$desktop-xs: 1100px;
$desktop-custom-1: 1400px; //use in aboutus-videocarousel
$desktop-custom-2: 1240px; //use in header and top-search
$desktop-custom-3: 1200px; //use in footer
$desktop-custom-4: 1180px; //use in aboutus-proud
$desktop-custom-5: 1170px; //use in logo
$desktop-custom-6: 1080px; //use in listing
$tablet: 1024px;
$tablet-m: 980px;
$tablet-s: 960px;
$tablet-xs: 880px;
$tablet-custom-1: 978px; //use in home-hero and home-fullbleed
$tablet-custom-2: 845px; //use in footer
$tablet-custom-3: 838px; //use in category-story
$tablet-custom-4: 830px; //use in cart
$mobile: 768px;
$mobile-m: 720px;
$mobile-s: 640px;
$mobile-xs: 480px;
$mobile-custom-1: 690px; //use in home-hero
$mobile-iphone-6-plus: 414px;
$mobile-iphone-6: 375px;
$mobile-galaxy-s6: 360px;
$mobile-iphone-5: 320px;


/* Colors */
$black: #000;
$white: #fff;
$block-border-color: #e6e6e6;
$radio-border-color: #9e9e9e;
$light-text-color: #979797;
$placeholder-color: #c2c2c2;
$grey-light-color: #f2f2f2;
$marked-color: #d8034b;
$pink-promo-block: #fa3771;


/* Filter colors */
$shade-light: #f1cdb6;
$shade-medium: #d8a286;
$shade-bronze: #a57559;
$shade-deep: #785339;


/* Speeds */
$slower: 1s;
$slow: .3s;
$fast: .2s;

/* Fonts */
$icomoon: 'Icomoon';
