<?xml version="1.0"?>
<config>
    <modules>
        <Born_Mediacenter>
            <version>0.1.2</version>
        </Born_Mediacenter>
    </modules>
    <frontend>
        <routers>
            <mediacenter>
                <use>standard</use>
                <args>
                    <module>Born_Mediacenter</module>
                    <frontName>mediacenter</frontName>
                </args>
            </mediacenter>
        </routers>
        <layout>
            <updates>
                <mediacenter>
                    <file>mediacenter/mediacenter.xml</file>
                </mediacenter>
            </updates>
        </layout>
    </frontend>
    <global>
        <jarlssen_uploader_component_config>
            <uploads>
                <Born_Mediacenter_Model_Item>
                    <thumbnail>
                        <upload_dir>my_module/thumbnail</upload_dir>
                        <allowed_extensions>jpg,png,gif</allowed_extensions>
                        <input_name>thumbnail</input_name>
                    </thumbnail>
                    <pdf>
                        <upload_dir>my_module/pdf</upload_dir>
                        <allowed_extensions>pdf</allowed_extensions>
                        <input_name>pdf_file</input_name>
                    </pdf>
                </Born_Mediacenter_Model_Item>
            </uploads>
        </jarlssen_uploader_component_config>
        <helpers>
            <mediacenter>
                <class>Born_Mediacenter_Helper</class>
            </mediacenter>
        </helpers>
        <blocks>
            <mediacenter>
                <class>Born_Mediacenter_Block</class>
            </mediacenter>
        </blocks>
        <models>
            <mediacenter>
                <class>Born_Mediacenter_Model</class>
                <resourceModel>mediacenter_mysql4</resourceModel>
            </mediacenter>
            <mediacenter_mysql4>
                <class>Born_Mediacenter_Model_Mysql4</class>
                <entities>
                    <mediacenter>
                        <table>mediacenter</table>
                    </mediacenter>
                    <subsections>
                        <table>mediacenter_subsections</table>
                    </subsections>
                    <images>
                        <table>mediacenter_subsections_images</table>
                    </images>
                    <logo>
                        <table>mediacenter_logo</table>
                    </logo>
                </entities>
            </mediacenter_mysql4>
        </models>
        <resources>
            <mediacenter_setup>
                <setup>
                    <module>Born_Mediacenter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mediacenter_setup>
            <mediacenter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mediacenter_write>
            <mediacenter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mediacenter_read>
        </resources>
    </global>
    <admin>
        <routers>
            <mediacenter>
                <use>admin</use>
                <args>
                    <module>Born_Mediacenter</module>
                    <frontName>admin_mediacenter</frontName>
                </args>
            </mediacenter>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <mediacenter module="mediacenter">
                <title>Mediacenter</title>
                <sort_order>100</sort_order>
                <children>
                    <sections module="mediacenter">
                        <title>Sections</title>
                        <sort_order>0</sort_order>
                        <action>admin_mediacenter/adminhtml_mediacenter</action>
                    </sections>
                </children>
                <children>
                    <subsections module="mediacenter">
                        <title>Subsections/Media</title>
                        <sort_order>1</sort_order>
                        <action>admin_mediacenter/adminhtml_subsection</action>
                    </subsections>
                </children>
            </mediacenter>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <mediacenter translate="title" module="mediacenter">
                            <title>Mediacenter</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <mediacenterbackend translate="title">
                                    <title>Mediacenter</title>
                                </mediacenterbackend>
                            </children>
                        </mediacenter>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mediacenter>
                    <file>mediacenter.xml</file>
                </mediacenter>
            </updates>
        </layout>
    </adminhtml>
</config> 