<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Perm
 */
-->

<config>
    <modules>
        <Amasty_Perm>
            <version>1.5.1</version>
        </Amasty_Perm>
    </modules>

    <global>
        <models>
            <amperm>
                <class>Amasty_Perm_Model</class>
                <resourceModel>amperm_mysql4</resourceModel>
            </amperm>
            <amperm_mysql4>
                <class>Amasty_Perm_Model_Mysql4</class>
                <entities>
                    <perm>
                        <table>am_perm</table>
                    </perm>
                    <message>
                        <table>am_perm_message</table>
                    </message>
                    <login>
                        <table>am_perm_login</table>
                    </login>
                    <order>
                        <table>am_perm_order</table>
                    </order>
                    <queue>
                        <table>am_perm_queue</table>
                    </queue>
                </entities>
            </amperm_mysql4>
            <enterprise_admingws>
                <rewrite>
                    <collections>Amasty_Perm_Model_Enterprise_AdminGws_Collections</collections>
                </rewrite>
            </enterprise_admingws>
            <core>
                <rewrite>
                    <email_template>Amasty_Perm_Model_Core_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <resources>
            <amperm_setup>
                <setup>
                    <module>Amasty_Perm</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amperm_setup>
            <amperm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </amperm_write>
            <amperm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </amperm_read>
        </resources>

        <blocks>
            <amperm>
                <class>Amasty_Perm_Block</class>
            </amperm>
        </blocks>

        <helpers>
            <amperm>
                <class>Amasty_Perm_Helper</class>
            </amperm>
        </helpers>

        <template>
            <email>
               <amperm_messages_template translate="label" module="amperm">
                   <label>Sales Rep Notification Template</label>
                   <file>amasty_sales_rep_notification.html</file>
                   <type>html</type>
               </amperm_messages_template>
            </email>
        </template>

        <events>
            <admin_user_save_before>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleAdminUserSaveBefore</method>
                    </amperm>
                </observers>
            </admin_user_save_before>
            <customer_save_after>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleCustomerSaveAfter</method>
                    </amperm>
                </observers>
            </customer_save_after>
            <sales_order_save_after>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleOrderCreated</method>
                    </amperm>
                </observers>
            </sales_order_save_after>
            <checkout_submit_all_after>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleOrderCreated</method>
                    </amperm>
                </observers>
            </checkout_submit_all_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleCoreBlockAbstractToHtmlAfter</method>
                    </amperm>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_quote_save_after>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>onSalesQuoteSaveAfter</method>
                    </amperm>
                </observers>
            </sales_quote_save_after>
        </events>
    </global>

    <crontab>
        <jobs>
            <amperm_send_email>
                <!-- at every minute -->
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run><model>amperm/observer::sendEmail</model></run>
            </amperm_send_email>
        </jobs>
    </crontab>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Amasty_Perm after="Mage_Adminhtml">Amasty_Perm_Adminhtml</Amasty_Perm>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <admin_user_save_after>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleAdminUserSaveAfter</method>
                    </amperm>
                </observers>
            </admin_user_save_after>

            <eav_collection_abstract_load_before>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleCustomerCollectionLoadBefore</method>
                    </amperm>
                </observers>
            </eav_collection_abstract_load_before>

            <sales_order_invoice_grid_collection_load_before>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleOrderCollectionLoadBefore</method>
                    </amperm>
                </observers>
            </sales_order_invoice_grid_collection_load_before>

            <sales_order_shipment_grid_collection_load_before>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleOrderCollectionLoadBefore</method>
                    </amperm>
                </observers>
            </sales_order_shipment_grid_collection_load_before>

            <sales_order_creditmemo_grid_collection_load_before>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleOrderCollectionLoadBefore</method>
                    </amperm>
                </observers>
            </sales_order_creditmemo_grid_collection_load_before>

            <sales_order_grid_collection_load_before>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleOrderCollectionLoadBefore</method>
                    </amperm>
                </observers>
            </sales_order_grid_collection_load_before>

            <core_collection_abstract_load_before>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleCoreCollectionAbstractLoadBefore</method>
                    </amperm>
                </observers>
            </core_collection_abstract_load_before>

            <core_layout_block_create_after>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>handleCoreLayoutBlockCreateAfter</method>
                    </amperm>
                </observers>
            </core_layout_block_create_after>

            <core_block_abstract_prepare_layout_after>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>onCoreBlockAbstractPrepareLayoutAfter</method>
                    </amperm>
                </observers>
            </core_block_abstract_prepare_layout_after>

            <core_block_abstract_to_html_before>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>onCoreBlockAbstractToHtmlBefore</method>
                    </amperm>
                </observers>
            </core_block_abstract_to_html_before>

            <controller_action_predispatch>
                <observers>
                    <amperm>
                        <type>singleton</type>
                        <class>amperm/observer</class>
                        <method>onControllerActionPredispatch</method>
                    </amperm>
                </observers>
            </controller_action_predispatch>
        </events>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
            <admin>
                <children>
                    <sales>
                        <children>
                            <order>
                                <children>
                                    <actions>
                                        <children>
                                            <assign_order translate="title">
                                                <title>Assign Order</title>
                                            </assign_order>
                                        </children>
                                    </actions>
                                </children>
                            </order>
                        </children>
                    </sales>
                    <customer>
                        <children>
                            <manage>
                                <children>
                                    <login_as_customer translate="title">
                                        <title>Log In as Customer</title>
                                    </login_as_customer>
                                    <assign_dealer translate="title">
                                        <title>Mass Assign/Remove to/from Dealer</title>
                                    </assign_dealer>
                                </children>
                            </manage>
                        </children>
                    </customer>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <amperm translate="title" module="amperm">
                                        <title>Sales Reps Settings</title>
                                    </amperm>
                                </children>
                            </config>
                        </children>
                    </system>
                    <acl>
                        <children>
                            <amperm translate="title" module="amperm">
                                <title>Sales Reps Settings</title>
                            </amperm>
                        </children>
                    </acl>
                 </children>
            </admin>
		</acl>

    	<menu>
		    <system>
                <children>
                    <acl>
                        <children>
                            <amperm translate="title" module="amperm">
                                <title>Sales Reps Settings</title>
                                <action>adminhtml/system_config/edit/section/amperm</action>
                                <sort_order>9000</sort_order>
                            </amperm>
                        </children>
                    </acl>
                </children>
            </system>
		</menu>


        <translate>
            <modules>
                <Amasty_Perm>
                    <files>
                        <default>Amasty_Perm.csv</default>
                    </files>
                </Amasty_Perm>
            </modules>
        </translate>

        <layout>
            <updates>
                <amperm module="Amasty_Perm">
                    <file>amasty/amperm/amperm.xml</file>
                </amperm>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <amperm>
                <use>standard</use>
                <args>
                    <module>Amasty_Perm</module>
                    <frontName>ampermfront</frontName>
                </args>
            </amperm>
        </routers>
    	<layout>
            <updates>
                <amperm module="Amasty_Perm">
                    <file>amasty/amperm/amperm.xml</file>
                </amperm>
            </updates>
        </layout>
    </frontend>

    <default>
        <amperm>
            <general>
                <role>0</role>
                <default_dealer>0</default_dealer>
                <send_email>0</send_email>
                <reassign_fields>1</reassign_fields>
                <from_to>1</from_to>
                <author>1</author>
                <edit_no_grid>0</edit_no_grid>
                <show_all_customers>0</show_all_customers>
                <backend_by_customer>0</backend_by_customer>
            </general>
            <messages>
                <enabled>0</enabled>
                <see_other_dealers>1</see_other_dealers>
                <admin_email>noreply@example.com</admin_email>
                <identity>general</identity>
                <template>amperm_messages_template</template>
            </messages>
            <frontend>
                <on_registration>0</on_registration>
                <in_account>0</in_account>
                <on_checkout>0</on_checkout>
                <description_customer>0</description_customer>
                <description_checkout>0</description_checkout>
            </frontend>
            <other_extensions>
                <delivery_date_reminder_enabled>0</delivery_date_reminder_enabled>
            </other_extensions>
        </amperm>
    </default>
</config>
