<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_Schema>
            <version>1.0.0</version>
        </WeltPixel_Schema>
    </modules>
    <global>
        <blocks>
            <weltpixel_schema>
                <class>WeltPixel_Schema_Block</class>
            </weltpixel_schema>
        </blocks>
        <helpers>
            <weltpixel_schema>
                <class>WeltPixel_Schema_Helper</class>
            </weltpixel_schema>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <weltpixel_schema>
                    <file>weltpixel/schema.xml</file>
                </weltpixel_schema>
            </updates>
        </layout>
    </frontend>
    <default>
        <weltpixel_schema>
            <rich_snippets>
                <enable>1</enable>
                <desc>0</desc>
                <wrap>1</wrap>
            </rich_snippets>
            <facebook_opengraph>
                <enable>1</enable>
                <desc>0</desc>
            </facebook_opengraph>
            <pinterest_richpins>
                <enable>1</enable>
            </pinterest_richpins>
            <twitter_productcards>
                <enable>1</enable>
                <desc>0</desc>
                <twittersite></twittersite>
                <twittercreator></twittercreator>
            </twitter_productcards>
        </weltpixel_schema>
    </default>
</config>