<?xml version="1.0"?>
<config>
    <modules>
        <Born_StoreLocator>
            <version>0.1.4</version>
        </Born_StoreLocator>
    </modules>
	<global>
		<blocks>
            <storelocator>
                <class>Born_StoreLocator_Block</class>
				<rewrite>
					<storelocator>Born_StoreLocator_Block_Storelocator</storelocator>
				</rewrite>
            </storelocator>
        </blocks>
		<helpers>
            <storelocator>
                <class>Born_StoreLocator_Helper</class>
            </storelocator>
        </helpers>
		<models>
			<storelocator>
				<class>Born_StoreLocator_Model</class>
				<resourceModel>storelocator_resource</resourceModel>
			</storelocator>
			<storelocator_resource>
				<class>Born_StoreLocator_Model_Resource</class>
				<entities>
					<storelocator>
						<table>store_locations</table>
					</storelocator>
				</entities>
			</storelocator_resource>
		</models>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Born_StoreLocator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocator_setup>
        </resources>
	</global>
	<frontend>
		<routers>
			<storelocator>
				<use>standard</use>
				<args>
					<module>Born_StoreLocator</module>
					<frontName>store-locator</frontName>
				</args>
			</storelocator>
		</routers>
		<layout>
           <updates>
            	<storelocator>
                	<file>storelocator.xml</file>
            	</storelocator>
           </updates>
        </layout>
		<translate>
            <modules>
                <storelocator>
                    <files>
                        <default>StoreLocator.csv</default>
                    </files>
              </storelocator>
            </modules>
        </translate>
	</frontend>
 	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <storelocator before="Mage_Adminhtml">Born_StoreLocator_Adminhtml</storelocator>
                    </modules>
                </args>
            </adminhtml>
            <storelocator>
                <use>admin</use>
                <args>
                    <module>Born_StoreLocator</module>
                    <frontName>storelocator_admin</frontName>
                </args>
            </storelocator>
        </routers>
    </admin>
     <phpunit>
        <suite>
            <modules>
                <Born_StoreLocator />
            </modules>
        </suite>
    </phpunit>
    <default>
        <storelocator>
            <storelocator>
                <page_title>PUR - Store Locator</page_title>
            </storelocator>
        </storelocator>
    </default>
</config>