<?xml version="1.0"?>
<config>
    <modules>
        <Born_Borncmshooks>
            <version>0.3.0</version>
        </Born_Borncmshooks>
    </modules>
    <frontend>
        <routers>
            <borncmshooks>
                <use>standard</use>
                <args>
                    <module>Born_Borncmshooks</module>
                    <frontName>borncmshooks</frontName>
                </args>
            </borncmshooks>
        </routers>
        <layout>
            <updates>
                <borncmshooks>
                    <file>borncmshooks.xml</file>
                </borncmshooks>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <borncmshooks>
                <use>admin</use>
                <args>
                    <module>Born_Borncmshooks</module>
                    <frontName>borncmshooks</frontName>
                </args>
            </borncmshooks>
        </routers>
    </admin>
    <default>
        <web>
            <routers>
                <craftmanship>
                    <area>frontend</area>
                    <class>Born_Borncmshooks_Controller_Router</class>
                </craftmanship>
            </routers>
        </web>
    </default>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <borncmshooks module="borncmshooks">            
                        <title>Hooks</title>
                        <sort_order>73</sort_order>
                        <action>borncmshooks/adminhtml_borncmshooks</action>
                    </borncmshooks>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <borncmshooks module="borncmshooks">
                                    <title>Borncmshooks Module</title>
                                    <sort_order>10</sort_order>
                                </borncmshooks>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <borncmshooks>
                    <file>borncmshooks.xml</file>
                </borncmshooks>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <borncmshooks>
                <class>Born_Borncmshooks_Model</class>
                <resourceModel>borncmshooks_mysql4</resourceModel>
            </borncmshooks>
            <borncmshooks_mysql4>
                <class>Born_Borncmshooks_Model_Mysql4</class>
                <entities>
                    <borncmshooks><table>born_cms_hooks</table></borncmshooks>
                    <sections><table>born_cms_hook_sections</table></sections>
                    <fields><table>born_cms_hook_fields</table></fields>
                    <forms><table>born_cms_hook_field_forms</table></forms>
                    <rows><table>born_cms_hook_field_rows</table></rows>
                    <types><table>born_cms_hook_field_form_types</table></types>
                    <values><table>born_cms_hook_field_form_values</table></values>
                </entities>
            </borncmshooks_mysql4>
            <borncmshooks_resource>
                <class>Born_Borncmshooks_Model_Resource</class>
            </borncmshooks_resource>
        </models>
        <resources>
            <borncmshooks_setup>
                <setup>
                    <module>Born_Borncmshooks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </borncmshooks_setup>
            <borncmshooks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </borncmshooks_write>
            <borncmshooks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </borncmshooks_read>
        </resources>
        <blocks>
            <borncmshooks>
                <class>Born_Borncmshooks_Block</class>
            </borncmshooks>
        </blocks>
        <helpers>
            <borncmshooks>
                <class>Born_Borncmshooks_Helper</class>
            </borncmshooks>
        </helpers>
    </global>
</config>


