<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_Ec>
            <version>50.0.2</version>
        </Anowave_Ec>
    </modules>
    <global>
    	<models>
		    <ec>
		        <class>Anowave_Ec_Model</class>
		        <resourceModel>ec_resource</resourceModel>
		    </ec>
		    <ec_resource>
                <class>Anowave_Ec_Model_Resource</class>
                <entities>
	                <ab>
	                    <table>anowave_ab</table>
	                </ab>
	                <data>
	                    <table>anowave_ab_data</table>
	                </data>
	                <store>
	                    <table>anowave_ab_store</table>
	                </store>
	            </entities>
            </ec_resource>
            <catalog>
	            <rewrite>
	                <product>Anowave_Ec_Model_Product</product>
	            </rewrite>
	        </catalog>
		</models>
		<blocks>
			<ec>
                <class>Anowave_Ec_Block</class>
            </ec>
		</blocks>
		<helpers>
	        <ec>
	            <class>Anowave_Ec_Helper</class>
	        </ec>
	        <core>
	        	<rewrite>
	        		<js>Anowave_Ec_Helper_Js</js>
	        	</rewrite>
	        </core>
	    </helpers>
		<resources>
		    <anowave_ec_setup>
		        <setup>
		            <module>Anowave_Ec</module>
		        </setup>
		    </anowave_ec_setup>
		    <anowave_ec_write>
				<connection>
					<use>core_write</use>
				</connection>
			</anowave_ec_write>
			<anowave_ec_read>
				<connection>
					<use>core_read</use>
				</connection>
			</anowave_ec_read>
		</resources>
		<events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <ec_success>
                        <class>ec/observer</class>
                        <method>setOrder</method>
                    </ec_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <success>
                        <class>ec/observer</class>
                        <method>setOrder</method>
                    </success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <customer_login>
			    <observers>
			        <ec>
			            <class>ec/observer</class>
                        <method>setLogin</method>
			        </ec>
			    </observers>
			</customer_login>
			<customer_logout>
			    <observers>
			        <ec>
			            <class>ec/observer</class>
                        <method>setLogout</method>
			        </ec>
			    </observers>
			</customer_logout>
            <sales_order_payment_refund>
            	<observers>
                    <cancel>
                        <class>ec/observer</class>
                        <method>refund</method>
                    </cancel>
                </observers>
            </sales_order_payment_refund>
            <admin_system_config_changed_section_ec>
            	<observers>
                    <config>
                        <type>singleton</type>
                        <class>ec/config</class>
                        <method>notify</method>
                    </config>
                </observers>
            </admin_system_config_changed_section_ec>
            <controller_action_layout_generate_blocks_after>
		        <observers>
		            <ec>
		            	<type>singleton</type>
		                <class>ec/layout</class>
		                <method>change</method>
		            </ec>
		        </observers>
		    </controller_action_layout_generate_blocks_after>
		    <catalog_product_save_before>
	            <observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>save</method>
	                </ec>
	            </observers>
	        </catalog_product_save_before>
	        <catalog_product_load_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>load</method>
	                </ec>
	            </observers>
	        </catalog_product_load_after>
	        <customer_register_success>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer</class>
	                    <method>setRegister</method>
	                </ec>
	            </observers>
	        </customer_register_success>
	        <sales_order_place_before>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_offline</class>
	                    <method>beforePlaceOrder</method>
	                </ec>
	            </observers>
	        </sales_order_place_before>
        </events>
        <cache>
	        <types>
	            <ec module="Anowave_Ec" translate="label description">
	                <label>Enhanced Ecommerce Cache</label>
	                <description>Google Tag Manager Enhanced Ecommerce cache</description>
	                <tags>EC</tags>
	            </ec>
	        </types>
	    </cache>
    </global>
    <frontend>
    	<events>
			 <core_block_abstract_to_html_after>
                <observers>
                    <ec_modify>
                        <class>ec/observer</class>
                        <method>modify</method>
                    </ec_modify>
                </observers>
            </core_block_abstract_to_html_after>
            <catalog_product_load_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>front</method>
	                </ec>
	            </observers>
	        </catalog_product_load_after>
	        <catalog_product_collection_load_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>frontCollection</method>
	                </ec>
	            </observers>
	        </catalog_product_collection_load_after>
	        <controller_action_layout_load_before>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>changeLayout</method>
	                </ec>
	            </observers>
	        </controller_action_layout_load_before>
	        <core_block_abstract_prepare_layout_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_experiments</class>
	                    <method>prepareLayout</method>
	                </ec>
	            </observers>
	        </core_block_abstract_prepare_layout_after>
	        <checkout_cart_add_product_complete>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_checkout</class>
	                    <method>add</method>
	                </ec>
	            </observers>
	        </checkout_cart_add_product_complete>
	        <catalog_controller_product_init_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_checkout</class>
	                    <method>register</method>
	                </ec>
	            </observers>
	        </catalog_controller_product_init_after>
	        <controller_action_predispatch_checkout_cart_updatePost>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer</class>
	                    <method>setCartEmpty</method>
	                </ec>
	            </observers>
	        </controller_action_predispatch_checkout_cart_updatePost>
	        <newsletter_subscriber_save_commit_after>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_newsletter</class>
	                    <method>subscribe</method>
	                </ec>
	            </observers>
	        </newsletter_subscriber_save_commit_after>
	        <controller_action_postdispatch_contacts_index_post>
	        	<observers>
	                <ec>
	                    <type>singleton</type>
	                    <class>ec/observer_contact</class>
	                    <method>submit</method>
	                </ec>
	            </observers>
	        </controller_action_postdispatch_contacts_index_post>
    	</events>
    	<layout>
            <updates>
                <ec>
                    <file>ec.xml</file>
                </ec>
            </updates>
        </layout>
        <routers>
	        <ec>
	            <use>standard</use>
	            <args>
	                <module>Anowave_Ec</module>
	                <frontName>ec</frontName>
	            </args>
	        </ec>
	    </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
            	<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                		<ec>
											<title>Google Tag Manager</title>
										</ec>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ec>
                    <file>ec.xml</file>
                </ec>
            </updates>
        </layout>
        <menu>
        	<system>
        		<children>
        			<ab translate="title" module="ec">
			            <title>A/B Testing</title>
			            <sort_order>1</sort_order>
			            <action>adminhtml/ab/index/</action>
			        </ab>
        		</children>
        	</system>
	    </menu>
	    <events>
			 <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <ec_modify_experiments>
                        <class>ec/observer_experiments</class>
                        <method>prepare</method>
                    </ec_modify_experiments>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
			<adminhtml_cache_refresh_type>
				<observers>
					<ec>
						<type>singleton</type>
						<class>ec/observer_cache</class>
						<method>refresh</method>
					</ec>
				</observers>
			</adminhtml_cache_refresh_type>
			<order_cancel_after>
				<observers>
					<ec>
						<type>singleton</type>
						<class>ec/observer</class>
						<method>cancel</method>
					</ec>
				</observers>
			</order_cancel_after>
    	</events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ab after="Mage_Adminhtml">Anowave_Ec</ab>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
    	<ec>
    		<config>
    			<active>1</active>
    			<code_split>1</code_split>
    		</config>
    		<adwords>
    			<conversion_label><![CDATA[Purchase]]></conversion_label>
    			<conversion_format>3</conversion_format>
    			<conversion_color><![CDATA[FFFFFF]]></conversion_color>
    			<conversion_currency>EUR</conversion_currency>
    		</adwords>
    		<adroll>
    			<active>0</active>
    		</adroll>
    		<revenue>
    			<tax>1</tax>
    			<shipping>1</shipping>
    		</revenue>
    		<definitions>
    			<dimensions>0</dimensions>
    			<dimension1><![CDATA[getCustomerId]]></dimension1>
    			<dimension2><![CDATA[getWishlistCount]]></dimension2>
    			<dimension3><![CDATA[getCustomerGender]]></dimension3>
    			<dimension4><![CDATA[getCustomerGroup]]></dimension4>
    			<dimension5><![CDATA[getCustomerOrdersCount]]></dimension5>
    		</definitions>
    		<facebook>
    			<enable>0</enable>
    			<enable_advanced_matching>0</enable_advanced_matching>
    		</facebook>
    		<selectors>
    			<handler>1</handler>
    			<force>0</force>
    			<cart><![CDATA[//button|//a[contains(@class,"btn-cart")]]]></cart>
    			<cart_delete><![CDATA[//a[contains(@class,"btn-remove")]|//a[contains(@class,"remove")]]]></cart_delete>
    			<list><![CDATA[//ul[contains(@class, "products-grid")]/li|//ol[contains(@class, "products-list")]/li]]></list>
    			<click><![CDATA[a[contains(@class,"product-image")]]]></click>
    			<click_ajax><![CDATA[button[contains(@class,"btn-cart")]]]></click_ajax>
    			<click_ajax_wishlist><![CDATA[div/button]]></click_ajax_wishlist>
    			<wishlist><![CDATA[//a[contains(@class,"link-wishlist")]]]></wishlist>
    			<wishlist_category><![CDATA[div/div/ul[contains(@class,"add-to-links")]/li/a[contains(@class,"link-wishlist")]]]></wishlist_category>
    			<compare><![CDATA[//a[contains(@class,"link-compare")]]]></compare>
    			<compare_category><![CDATA[div/div/ul[contains(@class,"add-to-links")]/li/a[contains(@class,"link-compare")]]]></compare_category>
    			<beta>0</beta>
    			<beta_placeholders>0</beta_placeholders>
    		</selectors>
    		<preferences>
    			<use_category_segments>1</use_category_segments>
    			<use_child>0</use_child>
    			<use_measurement_protocol>0</use_measurement_protocol>
    			<use_measurement_protocol_cancel>0</use_measurement_protocol_cancel>
    			<use_viewport>0</use_viewport>
    		</preferences>
    		<experiments>
    			<enable>0</enable>
    			<behaviour>2</behaviour>
    		</experiments>
    		<prices>
    			<tax>1</tax>
    		</prices>
    		<dynamic_remarketing>
    			<attribute>sku</attribute>
    			<dynx>0</dynx>
    		</dynamic_remarketing>
    		<affiliate>
    			<dimension>20</dimension>
    		</affiliate>
    		<debug>
    			<debug>0</debug>
    			<print_block_names>0</print_block_names>
    		</debug>
    		<blocker>
    			<detect>0</detect>
    			<eventTimeout>2000</eventTimeout>
    		</blocker>
    		<cookie>
    			<enable>0</enable>
    			<content><![CDATA[This website (%s) is using cookies. We use them to give you the best experience. If you continue using our website, we'll assume that you are happy to receive all cookies on this website.]]></content>
    			<content_background_color><![CDATA[#FFFFFF]]></content_background_color>
    			<content_text_color><![CDATA[#000000]]></content_text_color>
    			<content_accept_color><![CDATA[#000000]]></content_accept_color>
    			<content_text_accept><![CDATA[CONTINUE]]></content_text_accept>
    			<content_text_confirm><![CDATA[THANK YOU]]></content_text_confirm>
    			<content_text_learn><![CDATA[LEARN MORE]]></content_text_learn>
    			<content_link_learn><![CDATA[http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm]]></content_link_learn>
    		</cookie>
    		<amp>
    			<enable>0</enable>
    		</amp>
    		<gmp>
    			<use_measurement_protocol>0</use_measurement_protocol>
    		</gmp>
    	</ec>
    </default>
</config>