<?xml version="1.0"?>
<config>
    <modules>
        <Born_Sales>
            <version>1.0.0.0</version>
        </Born_Sales>
    </modules>
    <global>
        <helpers>
            <born_sales>
                <class>Born_Sales_Helper</class>
            </born_sales>
        </helpers>
        <blocks>
            <born_sales>
                <class>Born_Sales_Block</class>
            </born_sales>
        </blocks>
        <models>
            <born_sales>
                <class>Born_Sales_Model</class>
            </born_sales>
            <sales>
                <rewrite>
                    <order>Born_Sales_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <sales>
            <quote>
                <totals>
                    <born_sales>
                        <class>born_sales/quote_freeshipping</class>
                        <after>shipping</after>
                    </born_sales>
                </totals>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <born_sales module="born_sales">
                    <file>born/sales.xml</file>
                </born_sales>
            </updates>
        </layout>
    </adminhtml>
</config>