


    .product_swatch img { width: 30px; }
    .product_swatch img { height: 30px; }

    .swatches .filter_checkbox .swatch-container{ width: 30px; }
    .swatches .filter_checkbox .swatch-container{ height: 30px; }



    .w, .toolbar, .products-list, #wpmm-nav, .wpmm-nav-content-inner  {max-width: 1280px ; }



    #wrapper { max-width: 100%; margin:0 auto; }

























    
    














