<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Astral_Feeds>
            <version>0.1.0</version>
        </Astral_Feeds>
    </modules>
    <frontend>
        <routers>
            <astralfeeds>
                <use>standard</use>
                <args>
                    <module>Astral_Feeds</module>
                    <frontName>astral-feeds</frontName>
                </args>
            </astralfeeds>
        </routers>
        <layout>
            <updates>
                <astralfeeds>
                    <file>astral/astrallookup.xml</file>
                </astralfeeds>
            </updates>
        </layout>
    </frontend>
</config>