<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_MegaMenu>
            <version>0.0.8</version>
        </WeltPixel_MegaMenu>
    </modules>
    <global>
        <blocks>
            <weltpixel_megamenu>
                <class>WeltPixel_MegaMenu_Block</class>
            </weltpixel_megamenu>
            <page>
                <rewrite>
                    <html_topmenu>WeltPixel_MegaMenu_Block_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <models>
            <weltpixel_megamenu>
                <class>WeltPixel_MegaMenu_Model</class>
            </weltpixel_megamenu>
        </models>
        <helpers>
            <weltpixel_megamenu>
                <class>WeltPixel_MegaMenu_Helper</class>
            </weltpixel_megamenu>
        </helpers>
        <resources>
            <weltpixel_megamenu_setup>
                <setup>
                    <module>WeltPixel_MegaMenu</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </weltpixel_megamenu_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <weltpixel_megamenu>
                    <file>weltpixel/megamenu.xml</file>
                </weltpixel_megamenu>
            </updates>
        </layout>
        <events>
            <wp_page_block_html_topmenu_gethtml_before>
                <observers>
                    <WeltPixel_MegaMenu>
                        <class>weltpixel_megamenu/observer</class>
                        <method>addCatalogToTopmenuItems</method>
                    </WeltPixel_MegaMenu>
                </observers>
            </wp_page_block_html_topmenu_gethtml_before>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <weltpixel_catalog_category_flat_loadnodes_before>
                        <class>weltpixel_megamenu/observer</class>
                        <method>addFlatCustomCategoryAttributesToSelect</method>
                    </weltpixel_catalog_category_flat_loadnodes_before>
                </observers>
            </catalog_category_flat_loadnodes_before>
        </events>
        <routers>
            <weltpixel_megamenu>
                <use>standard</use>
                <args>
                    <module>WeltPixel_MegaMenu</module>
                    <frontName>wp_megamenu</frontName>
                </args>
            </weltpixel_megamenu>
        </routers>
        <category>
            <collection>
                <attributes>
                    <wp_custom_link/>
                    <wp_cat_right_block/>
                    <wp_cat_top_block/>
                    <wp_cat_bottom_block/>
                    <wp_no_columns/>
                    <wp_static_blocks/>
                    <wp_title_color/>
                    <wp_title_hover_color/>
                    <wp_title_image/>
                    <wp_header_bg_color/>
                    <wp_header_bg_hover_color/>
                    <wp_content_bg_image/>
                    <wp_content_bg_img_dm/>
                    <wp_display_mode/>
                </attributes>
            </collection>
        </category>
    </frontend>
    <default>
        <weltpixel_megamenu>
            <general>
                <enable>1</enable>
                <display_home_link>1</display_home_link>
                <always_display_blocks>1</always_display_blocks>
            </general>
            <mobile>
                <width_threshold>600</width_threshold>
            </mobile>
        </weltpixel_megamenu>
    </default>
</config>