<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Born_BornIntegration>
            <version>0.1.3</version>
        </Born_BornIntegration>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <purchase_order_number>
                    <to_order>*</to_order>
                </purchase_order_number>
            </sales_convert_quote>
            <sales_convert_order>
                <purchase_order_number>
                    <to_quote>*</to_quote>
                </purchase_order_number>
            </sales_convert_order>
        </fieldsets>
        <models>
            <sales>
                <rewrite>
                    <order_invoice_api_v2>Born_BornIntegration_Model_Sales_Order_Invoice_Api_V2</order_invoice_api_v2>
                    <order_invoice_api>Born_BornIntegration_Model_Sales_Order_Invoice_Api</order_invoice_api>
                    <order_shipment_api_v2>Born_BornIntegration_Model_Sales_Order_Shipment_Api_V2</order_shipment_api_v2>
                    <order_shipment_api>Born_BornIntegration_Model_Sales_Order_Shipment_Api</order_shipment_api>
                    <quote_address_total_collector>Born_BornIntegration_Model_Sales_Quote_Address_Total_Collector</quote_address_total_collector>
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product_api_v2>Born_BornIntegration_Model_Catalog_Product_Api_V2</product_api_v2>
                    <product_attribute_tierprice_api_v2>Born_BornIntegration_Model_Catalog_Product_Attribute_Tierprice_Api_V2</product_attribute_tierprice_api_v2>
                    <product_attribute_tierprice_api>Born_BornIntegration_Model_Catalog_Product_Attribute_Tierprice_Api</product_attribute_tierprice_api>
                </rewrite>
            </catalog>
            <customer>
                <rewrite>
                    <customer_api_v2>Born_BornIntegration_Model_Customer_Api_V2</customer_api_v2>
                    <address_api_v2>Born_BornIntegration_Model_Customer_Address_Api_V2</address_api_v2>
                </rewrite>
            </customer>
            <bornintegration>
                <class>Born_BornIntegration_Model</class>
            </bornintegration>
        </models>
        <helpers>
            <bornintegration>
                <class>Born_BornIntegration_Helper</class>
            </bornintegration>
        </helpers>
        <blocks>
            <bornintegration>
                <class>Born_BornIntegration_Block</class>
            </bornintegration>
        </blocks>
        <resources>
            <bornintegration_setup>
                <setup>
                    <module>Born_BornIntegration</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bornintegration_setup>
            <bornintegration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bornintegration_write>
            <bornintegration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bornintegration_read>
        </resources>
        <events>
            <customer_save_before>
                <observers>
                    <set_sage_export_flag>
                        <class>bornintegration/observer</class>
                        <method>setNewCustomerFlag</method>
                    </set_sage_export_flag>
                </observers>
            </customer_save_before>
            <!--<catalog_product_is_salable_after>
                <observers>
                    <make_product_visible_b2b>
                        <class>bornintegration/observer</class>
                        <method>makeSalable</method>
                    </make_product_visible_b2b>
                </observers>
            </catalog_product_is_salable_after>-->
            <sales_quote_save_before>
                <observers>
                    <save_quote_purchase_order_field>
                        <class>bornintegration/observer</class>
                        <method>saveQuotePurchaseOrderNumber</method>
                    </save_quote_purchase_order_field>
                </observers>
            </sales_quote_save_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <save_order_purchase_field>
                        <class>bornintegration/observer</class>
                        <method>saveOrderPurchaseNumber</method>
                    </save_order_purchase_field>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
     </global>
     <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bornintegration>
                                            <title>Born - All</title>
                                        </bornintegration>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <born_customer_group_add_code>
                        <class>bornintegration/observer</class>
                        <method>addCustomerGroupCodeField</method>
                    </born_customer_group_add_code>
                </observers>
            </adminhtml_block_html_before>
            <customer_group_save_before>
                <observers>
                    <save_sage_group_code>
                        <class>bornintegration/observer</class>
                        <method>saveSageCustomerGroupCode</method>
                    </save_sage_group_code>
                </observers>
            </customer_group_save_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <sage_order_import_process>
                <schedule>
                    <cron_expr>* 07,15 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bornintegration/observer::importOrder</model>
                </run>
            </sage_order_import_process>
            <!-- Disabled customr export because sage support team is currently working on address update issue. Hence as of now we are exporting customers along with orders. -->
            <!--<sage_customer_import_process>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bornintegration/observer::exportNewCustomer</model>
                </run>
            </sage_customer_import_process>-->
            <sage_customer_update_process>
                <schedule>
                    <cron_expr>* 03,11 * * *</cron_expr>
                </schedule>
                <run>
                    <model>bornintegration/observer::updateExportedCustomers</model>
                </run>
            </sage_customer_update_process>
        </jobs>
    </crontab>
    <default>
        <bornintegration>
            <sage_config>
                <wsdl_url>http://209.198.192.119:28880/adxwsvc/services/CAdxWebServiceXmlCC?wsdl</wsdl_url>
                <username>born</username>
                <password>born</password>
                <pool_alias>PILOT</pool_alias>
                <locale_code>ENG</locale_code>
                <sales_public_name>WSOHAB</sales_public_name>
                <customer_public_name>WSBPCAB</customer_public_name>
                <product_public_name>WSITEMAB</product_public_name>
                <is_test>0</is_test>
                <identity_prefix>U</identity_prefix>
            </sage_config>
            <sage>
                <x3_status_message>This order is exported to ERP so do not change the status when adding the comment.</x3_status_message>
            </sage>
        </bornintegration>
    </default>
</config>