<?xml version="1.0"?>
<config>
	<default>
		<sage_log_config>
			<sage_sync_limit>
				<limit_count>3</limit_count>
			</sage_sync_limit>
		</sage_log_config>
	</default>
    <modules>
        <Born_Sagelog>
            <version>0.1.0</version>
        </Born_Sagelog>
    </modules>
    <global>
        <helpers>
            <sagelog>
                <class>Born_Sagelog_Helper</class>
            </sagelog>
        </helpers>
        <blocks>
            <sagelog>
                <class>Born_Sagelog_Block</class>
            </sagelog>
        </blocks>
        <models>
            <sagelog>
                <class>Born_Sagelog_Model</class>
                <resourceModel>sagelog_mysql4</resourceModel>
            </sagelog>
            <sagelog_mysql4>
                <class>Born_Sagelog_Model_Mysql4</class>
                <entities>
                    <logging>
                        <table>sage_error_log</table>
                    </logging>
                </entities>
            </sagelog_mysql4>
        </models>
        <resources>
            <sagelog_setup>
                <setup>
                    <module>Born_Sagelog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sagelog_setup>
            <sagelog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sagelog_write>
            <sagelog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sagelog_read>
        </resources>
    </global>
    <admin>
        <routers>
            <sagelog>
                <use>admin</use>
                <args>
                    <module>Born_Sagelog</module>
                    <frontName>admin_sagelog</frontName>
                </args>
            </sagelog>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sagelog module="sagelog">
                <title>Sagelog</title>
                <sort_order>100</sort_order>
                <children>
                    <sagelog module="sagelog">
                        <title>Sage Error Log</title>
                        <sort_order>0</sort_order>
                        <action>admin_sagelog/adminhtml_sageerrorlog</action>
                    </sagelog>
                </children>
            </sagelog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sage_log_config>
                                            <title>Sage Error Log</title>
                                        </sage_log_config>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <sagelog translate="title" module="sagelog">
                            <title>Sagelog</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <sagelog translate="title">
                                    <title>Sage Error log</title>
                                </sagelog>
                            </children>
                        </sagelog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sagelog>
                    <file>sagelog.xml</file>
                </sagelog>
            </updates>
        </layout>
    </adminhtml>
</config> 