<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Born_Package>
            <version>0.2.3</version>
        </Born_Package>
    </modules>
    <global>
        <helpers>
            <born_package>
                <class>Born_Package_Helper</class>
            </born_package>
            <wishlist>
                <rewrite>
                    <data>Born_Package_Helper_Wishlist</data>
                </rewrite>
            </wishlist>      
        </helpers>
        <blocks>
            <born_package>
                <class>Born_Package_Block</class>
            </born_package>
            <page>
                <rewrite>
                    <html>Born_Package_Block_Page_Html</html>
                </rewrite>
            </page>
			<adminhtml>
				<rewrite>
					<sales_order_grid>Born_Package_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
            <catalog>
                <rewrite>
                    <navigation>Born_Package_Block_Catalog_Navigation</navigation>
                    <product_list>Born_Package_Block_Catalog_Product_List</product_list>
                    <product_price>Born_Package_Block_Catalog_Product_Price</product_price>
                    <product_list_toolbar>Born_Package_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                    <product_view_options_type_select>Born_Package_Block_Catalog_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <onepage_billing>Born_Package_Block_Checkout_Onepage_Billing</onepage_billing>
                    <onepage_shipping>Born_Package_Block_Checkout_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
            <customer>
                <rewrite>
                    <account_navigation>Born_Package_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle_option_radio>Born_Package_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle>Born_Package_Block_Bundle_Catalog_Product_View_Type_Bundle</catalog_product_view_type_bundle>
                </rewrite>
            </bundle>
            <adminhtml>
                <rewrite>
                    <sales_order_create_customer_grid>Born_Package_Block_Adminhtml_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
                    <sales_order_create_form_account>Born_Package_Block_Adminhtml_Sales_Order_Create_Form_Account</sales_order_create_form_account>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <born_package>
                <class>Born_Package_Model</class>
				<resourceModel>package_mysql4</resourceModel>
            </born_package>  
			<package_mysql4>
                <class>Born_Package_Model_Mysql4</class>
                <entities>
                    <skippeditems>
                        <table>cron_skipped_items</table>
                    </skippeditems>
                </entities>
            </package_mysql4>
            <usa>
                <rewrite>
                    <shipping_carrier_fedex>Born_Package_Model_Carrier_Fedex</shipping_carrier_fedex>
                    <shipping_carrier_usps>Born_Package_Model_Carrier_Usps</shipping_carrier_usps>
                </rewrite>
            </usa>
            <wishlist>
                <rewrite>
                    <wishlist>Born_Package_Model_Wishlist_Wishlist</wishlist>
                </rewrite>
            </wishlist>
            <customer_resource>
                <rewrite>
                    <customer>Born_Package_Model_Customer_Resource_Customer</customer>
                </rewrite>
            </customer_resource>
            <customer>
                <rewrite>
                    <customer>Born_Package_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
            <directory_resource>
                <rewrite>
                    <country_collection>Born_Package_Model_Resource_Country_Collection</country_collection>
                </rewrite>
            </directory_resource>
            <catalog>
                <rewrite>
                    <config>Born_Package_Model_Catalog_Config</config>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_type_configurable_attribute_collection>Born_Package_Model_Catalog_Resource_Product_Type_Configurable_Attribute_Collection</product_type_configurable_attribute_collection>
                </rewrite>
            </catalog_resource>
            <ampromo>
                <rewrite>
                    <sales_quote_address>Born_Package_Model_Amasty_Promo_Sales_Quote_Address</sales_quote_address>
                </rewrite>
            </ampromo>
            <reports_resource>
                <rewrite>
                    <quote_collection>Born_Package_Model_Resource_Reports_Quote_Collection</quote_collection>
                </rewrite>
            </reports_resource>
        </models>
        <resources>
            <package_setup>
                <setup>
                    <module>Born_Package</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </package_setup>
            <package_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </package_write>
            <package_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </package_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>                           
                <order_entry_type>
                    <to_order>*</to_order>
                </order_entry_type>
                <admin_username>
                    <to_order>*</to_order>
                </admin_username>
            </sales_convert_quote>
            <sales_convert_order>                                              
                <order_entry_type>
                    <to_quote>*</to_quote>
                </order_entry_type>
                <admin_username>
                    <to_quote>*</to_quote>
                </admin_username>
            </sales_convert_order>
        </fieldsets>
        <events>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <product_inventory_check_product_save>
                        <type>singleton</type>
                        <class>born_package/observer</class>
                        <method>checkNewVersion</method>
                    </product_inventory_check_product_save>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
            <customer_customer_authenticated>
                <observers>
                    <born_package_model_customer_observer>
                        <type>singleton</type>
                        <class>born_package/customer_observer</class>
                        <method>checkIfAccountDisabled</method>
                    </born_package_model_customer_observer>
                </observers>
            </customer_customer_authenticated>
        </events>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <born_package before="Mage_Adminhtml">Born_Package_Adminhtml</born_package>
                    </modules>
                </args>
            </adminhtml>
            <changestatus>
                <use>admin</use>
                <args>
                    <module>Born_Package</module>
                    <frontName>bornadmin</frontName>
                </args>
            </changestatus>
        </routers>
    </admin>
    <default>
        <born_affiliate>
            <pixeleze_setting>
                <account_id>843614c0-319b-4309-acfc-a60501317e33</account_id>
                <enable>1</enable>
                <enable_product_level>1</enable_product_level>
            </pixeleze_setting>
        </born_affiliate>
        <checkout>
            <cart>
                <max_select_qty>10</max_select_qty>
                <handling_fee_amount>6.95</handling_fee_amount>
                <handling_fee_autoselect>0</handling_fee_autoselect>
            </cart>
        </checkout>
        <payment>
            <creditterms>
                <model>born_package/creditterms_creditterms</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Credit Terms</title>
                <payment_action>sale</payment_action>	
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </creditterms>
            <authorizenet>
                <web_login_id>astraltest1</web_login_id>
            </authorizenet>
        </payment>
        <born_package>
            <best_seller_setting>
                <category_id>57</category_id>
            </best_seller_setting>
            <shade_guide_rules>
                <static_block_id>pur_shade_guide_foundation</static_block_id>
            </shade_guide_rules>
            <cart_banner>
                <enable>1</enable>
                <static_block_id>cart_banner</static_block_id>
            </cart_banner>
            <product_detail_page>
                <tiered_pricing_text>Learn More About Tiered Pricing</tiered_pricing_text>
            </product_detail_page>
        </born_package>
        <catalog>
            <category_nav_images>
                <enable>1</enable>
            </category_nav_images>
            <category_product_subtext>
                <subtext_attribute_id>225</subtext_attribute_id>
            </category_product_subtext>
            <display_cms_content_group_page>
                <enable>0</enable>
            </display_cms_content_group_page>
            <miscellaneous>
                <professional_category_id>96</professional_category_id>
                <cos_usage_values>88,89,90</cos_usage_values>
                <category_product_usage>221</category_product_usage>
            </miscellaneous>
            <show_default_tier_message>
                <enable_simple>1</enable_simple>
                <enable_configurable>1</enable_configurable>
            </show_default_tier_message>
            <category_groups>
                <listing_display_product_once>1</listing_display_product_once>
            </category_groups>
        </catalog>
        <ampromo>
            <general>
                <cart_block_title>Choose a free sample!</cart_block_title>
            </general>
        </ampromo>
        <shade_finder>
            <general>
                <under_tone_title>How do I find my undertone?</under_tone_title>
            </general>
        </shade_finder>
        <giftcard>
            <cart_balance_lookup_form>
                <enable>1</enable>
            </cart_balance_lookup_form>
        </giftcard>
    </default>   
    <frontend>
        <events>
			<sales_order_place_after>
				<observers>
				  <sales_order_place_after_handler>
					<type>singleton</type>
					<class>born_package/observer</class>
					<method>changestatus</method>
				  </sales_order_place_after_handler>
				</observers>
			</sales_order_place_after>
            <sales_order_place_before>
                <observers>
                    <customorderstatus>
                        <type>singleton</type>
                        <class>born_package/observer</class>
                        <method>saveTypeFrontend</method>
                    </customorderstatus>
                </observers>
            </sales_order_place_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <product_inventory_check_order_place>
                        <type>singleton</type>
                        <class>born_package/observer</class>
                        <method>checkNewVersionProductUpdate</method>
                    </product_inventory_check_order_place>
                </observers>
            </sales_model_service_quote_submit_after>
            <customer_address_save_before>
                <observers>
                    <customer_address_edit>
                        <type>singleton</type>
                        <class>born_package/observer</class>
                        <method>canSaveCustomer</method>
                    </customer_address_edit>
                </observers>
            </customer_address_save_before>
			
            <customer_save_before>
                <observers>
                    <customer_data_edit>
                        <type>singleton</type>
                        <class>born_package/observer</class>
                        <method>canSaveCustomer</method>
                    </customer_data_edit>
                </observers>
            </customer_save_before>
            <payment_method_is_active>
                <observers>
                    <born_payment_validation>
                        <type>singleton</type>
                        <class>born_package/observer</class>
                        <method>paymentCheck</method>
                    </born_payment_validation>
                </observers>
            </payment_method_is_active>
        </events> 
        <routers>
            <born_package>
                <use>standard</use>
                <args>
                    <module>Born_Package_Zendesk</module>
                    <frontName>professional_form</frontName>
                </args>
            </born_package>
            <catalog>
                <args>
                    <use>standard</use>
                    <modules>
                        <born_package before="Mage_Catalog_CategoryController">Born_Package_Catalog</born_package>
                        <frontName>package</frontName>
                    </modules>
                </args>
            </catalog>
            <checkout>
                <args>
                    <use>standard</use>
                    <modules>
                        <born_package before="Mage_Checkout_CartController">Born_Package_Checkout</born_package>
                        <frontName>package</frontName>
                    </modules>
                </args>
            </checkout>


            <customer>
                <args>
                    <use>standard</use>
                    <modules>
                        <born_package before="Mage_Customer_AddressController">Born_Package_Customer</born_package>
                        <born_package before="Mage_Customer_AccountController">Born_Package_Customer</born_package>
                        <frontName>package</frontName>
                    </modules>
                </args>
            </customer>
            <amxnotif>
                <args>
                    <modules>
                        <born_package before="Amasty_Xnotif_EmailController">Born_Package_Xnotif</born_package>
                    </modules>
                </args>
            </amxnotif>
        </routers>
    </frontend>
    <adminhtml>
        <menu>
            <born translate="title" module="optionswatch">
                <children>
                    <cms_settings translate="title" module="born_package">
                        <title>CMS Settings</title>
                        <sort_order>500</sort_order>
                        <action>adminhtml/system_config/edit/section/born_package</action>
                    </cms_settings>
                </children>
            </born>
        </menu>
        <events>
			<controller_action_layout_render_before_adminhtml_sales_order_view>
				<observers>
					<changestatus>
						<class>born_package/observer</class>
						<method>addStatusChangeButton</method>
					</changestatus>
					<cancelorder>
						<class>born_package/observer</class>
						<method>addStatusCancelButton</method>					
					</cancelorder>
					<bypassorder>
						<class>born_package/observer</class>
						<method>addStatusBypassButton</method>					
					</bypassorder>                                        
				</observers>
			</controller_action_layout_render_before_adminhtml_sales_order_view>
            <sales_order_place_before>
                <observers>
                    <customorderstatus>
                        <type>singleton</type>
                        <class>born_package/observer</class>
                        <method>saveType</method>
                    </customorderstatus>
                </observers>
            </sales_order_place_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <customergrid>
                        <type>singleton</type>
                        <class>born_package/customer_observer</class>
                        <method>beforeBlockToHtml</method>
                    </customergrid>
                </observers>
            </core_block_abstract_to_html_before>
            <payment_method_is_active>
                <observers>
                    <only_authorize_born>
                        <type>singleton</type>
                        <class>born_package/observer</class>
                        <method>paymentCheck</method>
                    </only_authorize_born>
                </observers>
            </payment_method_is_active>
            
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <born_package>
                                            <title>Born - All</title>
                                        </born_package>
                                        <born_general>
                                            <title>Born - General Settings</title>
                                        </born_general>
                                        <born_affiliate>
                                            <title>Born - Affiliate Export Settings</title>
                                        </born_affiliate>
                                        <shade_finder>
                                            <title>Shade Finder</title>
                                        </shade_finder>
                                        <b2cpur_orderlimit>
                                            <title>B2C and PUR Minimum order Limit</title>
                                        </b2cpur_orderlimit>
                                        <born_b2bprice>
                                            <title>B2C and PUR Minimum order Limit</title>
                                        </born_b2bprice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>