<?xml version="1.0"?>
<config>
    <modules>
        <Astral_Cms>
            <version>0.1.0</version>
        </Astral_Cms>
    </modules>
    <global>
        <models>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Astral_Cms_Model_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
	      </cms>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Cms>
                    <files>
                        <default>Mage_Cms.csv</default>
                    </files>
                </Mage_Cms>
            </modules>
        </translate>
        <layout>
            <updates>
                <cms>
                    <file>cms.xml</file>
                </cms>
            </updates>
        </layout>
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
			<pdf>1</pdf>
                        <flv>1</flv>
                        <swf>1</swf>
                        <avi>1</avi>
                        <mov>1</mov>
                        <rm>1</rm>
                        <wmv>1</wmv>
			<mpg>1</mpg>
			<mp4>1</mp4>			
                    </allowed>
                    <image_allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </image_allowed>
                    <media_allowed>
                        <flv>1</flv>
                        <swf>1</swf>
                        <avi>1</avi>
                        <mov>1</mov>
                        <rm>1</rm>
                        <wmv>1</wmv>
			<mpg>1</mpg>
			<mp4>1</mp4>
                    </media_allowed>
                </extensions>
                <window_width>1000</window_width>
                <window_height>600</window_height>
                <resize_width>100</resize_width>
                <resize_height>75</resize_height>
            </browser>
        </cms>
    </adminhtml>    
</config> 