<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Born_OnePageOrder>
            <version>1.0.2</version>
        </Born_OnePageOrder>
    </modules>
    <frontend>
        <layout>
            <updates>
                <born_onepageorder>
                    <file>onepageorder.xml</file>
                </born_onepageorder>
            </updates>
        </layout>
        <routers>
            <born_onepageorder>
                <use>standard</use>
                <args>
                    <module>Born_OnePageOrder</module>
                    <frontName>born_onepageorder</frontName>
                </args>
            </born_onepageorder>
        </routers>
        <translate>
            <modules>
                <Born_OnePageOrder>
                    <files>
                        <default>Born_OnePageOrder.csv</default>
                    </files>
                </Born_OnePageOrder>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Born_OnePageOrder>
                    <files>
                        <default>Born_OnePageOrder.csv</default>
                    </files>
                </Born_OnePageOrder>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <helpers>
            <born_onepageorder>
                <class>Born_OnePageOrder_Helper</class>
            </born_onepageorder>
        </helpers>
        <blocks>
            <born_onepageorder>
                <class>Born_OnePageOrder_Block</class>
            </born_onepageorder>
        </blocks>
        <models>
            <born_onepageorder>
                <class>Born_OnePageOrder_Model</class>
                <resourceModel>born_onepageorder_resource</resourceModel>
            </born_onepageorder>
            <born_onepageorder_resource>
                <class>Born_OnePageOrder_Model_Resource</class>
                <entities>
                    <navigation>
                        <table>onepageorderform_navigation</table>
                    </navigation>
                </entities>
            </born_onepageorder_resource>
        </models>
        <resources>
            <born_onepageorder_setup>
                <setup>
                    <module>Born_OnePageOrder</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </born_onepageorder_setup>
            <born_onepageorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </born_onepageorder_write>
            <born_onepageorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </born_onepageorder_read>
        </resources>
    </global>
    <default>
        <onepageorder>
            <general>
                <enabled>0</enabled>
                <title>One Page Order Form</title>
            </general>
        </onepageorder>
    </default>
</config>
