<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_SagePaymentsPro>
            <version>3.1.5</version>
        </Ebizmarts_SagePaymentsPro>
    </modules>
    <global>
        <models>
            <ebizmarts_sagepaymentspro>
                <class>Ebizmarts_SagePaymentsPro_Model</class>
                <resourceModel>ebizmarts_sagepaymentspro_resource</resourceModel>
            </ebizmarts_sagepaymentspro>
            <ebizmarts_sagepaymentspro_resource>
                <class>Ebizmarts_SagePaymentsPro_Model_Resource</class>
                <deprecatedNode>ebizmarts_sagepaymentspro_mysql4</deprecatedNode>
                <entities>
                    <transaction>
                        <table>sagepaymentspro_transaction</table>
                    </transaction>
                    <tokencard>
                        <table>sagepaymentspro_tokencard</table>
                    </tokencard>
                </entities>
            </ebizmarts_sagepaymentspro_resource>
        </models>
        <blocks>
            <ebizmarts_sagepaymentspro>
                <class>Ebizmarts_SagePaymentsPro_Block</class>
            </ebizmarts_sagepaymentspro>
        </blocks>
        <helpers>
            <ebizmarts_sagepaymentspro>
                <class>Ebizmarts_SagePaymentsPro_Helper</class>
            </ebizmarts_sagepaymentspro>
        </helpers>
        <resources>
            <ebizmarts_sagepaymentspro_setup>
                <setup>
                    <module>Ebizmarts_SagePaymentsPro</module>
                </setup>
            </ebizmarts_sagepaymentspro_setup>
        </resources>
        <payment>
            <sagepayments_cards>
                <types>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                    </MC>
                    <AE>
                        <code>AE</code>
                        <name>American Express</name>
                    </AE>
                    <DI>
                        <code>DI</code>
                        <name>Discover</name>
                    </DI>
                    <JCB>
                        <code>JCB</code>
                        <name>JCB</name>
                    </JCB>
                </types>
            </sagepayments_cards>
        </payment>
        <sales>
            <order>
                <statuses>
                    <sagepayments_pending translate="label">
                        <label>SagePayments - Payment Pending</label>
                    </sagepayments_pending>
                    <sagepayments_ok translate="label">
                        <label>SagePayments - Payment Ok</label>
                    </sagepayments_ok>
                </statuses>
                <states>
                    <pending_payment translate="label">
                        <statuses>
                            <sagepayments_pending/>
                        </statuses>
                    </pending_payment>
                    <processing>
                        <statuses>
                            <sagepayments_ok/>
                        </statuses>
                    </processing>
                </states>
            </order>
        </sales>

    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <ebizmarts_sagepaymentspro_save_config>
                        <class>ebizmarts_sagepaymentspro/eventObserver</class>
                        <method>saveConfig</method>
                    </ebizmarts_sagepaymentspro_save_config>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
        <layout>
            <updates>
                <ebizmarts_sagepaymentspro>
                    <file>ebizmarts/sagepaymentspro.xml</file>
                </ebizmarts_sagepaymentspro>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <secure_url>
            <ebizmarts_sagepaymentspro>/sgusa/</ebizmarts_sagepaymentspro>
        </secure_url>
        <routers>
            <ebizmarts_sagepaymentspro>
                <use>standard</use>
                <args>
                    <module>Ebizmarts_SagePaymentsPro</module>
                    <frontName>sgusa</frontName>
                </args>
            </ebizmarts_sagepaymentspro>
        </routers>
        <layout>
            <updates>
                <ebizmarts_sagepaymentspro>
                    <file>ebizmarts/sagepaymentspro.xml</file>
                </ebizmarts_sagepaymentspro>
            </updates>
        </layout>
        <events>
            <sales_order_save_after>
                <observers>
                    <sagepayments_new_order>
                        <class>ebizmarts_sagepaymentspro/eventObserver</class>
                        <method>newOrder</method>
                    </sagepayments_new_order>
                </observers>
            </sales_order_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ebizmarts_sagepaymentspro after="Mage_Adminhtml">Ebizmarts_SagePaymentsPro_Adminhtml</ebizmarts_sagepaymentspro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <sagepaymentspro>
                <m_id>362472731013</m_id>
                <m_key>S6B7M6H8G7B7</m_key>
                <active>0</active>
                <title>Credit Card - Sage Payments</title>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <license_key>[Request to Ebizmarts]</license_key>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
                <token_url><![CDATA[https://gateway.sagepayments.net/web_services/wsVault/wsVault.asmx?WSDL]]></token_url>
                <restfulurl><![CDATA[https://gateway.sagepayments.net/web_services/gateway/api/vaultcreditcardtokens]]></restfulurl>
                <sevdurl><![CDATA[https://www.sageexchange.com/virtualpaymentterminal/frmpayment.aspx]]></sevdurl>
                <directurl><![CDATA[https://www.sagepayments.net/web_services/vterm_extensions/transaction_processing.asmx?WSDL]]></directurl>
                <envelopeurl><![CDATA[https://www.sageexchange.com/VirtualPaymentTerminal/frmenvelope.aspx]]></envelopeurl>
                <openenvelopeurl><![CDATA[https://www.sageexchange.com/VirtualPaymentTerminal/frmopenenvelope.aspx]]></openenvelopeurl>
                <ApplicationIDEE>EBIZEBIZ3000000ECO_ABF9USEN</ApplicationIDEE>
                <ApplicationIDCE>EBIZEBIZ3000000COMMABG1USEN</ApplicationIDCE>
                <LanguageID>EN</LanguageID>
                <iframe_height>550</iframe_height>
                <iframe_width>850</iframe_width>
                <errormsg>Your credit card was rejected: </errormsg>
                <custom_theme_data><![CDATA[<UIStyle>
    <Wizard>
        <BackgroundColor>FFFFFF</BackgroundColor>
        <BorderStyle>
            <BorderBottom>0</BorderBottom>
            <BorderColor>01a3d6</BorderColor>
            <BorderLeft>0</BorderLeft>
            <BorderRight>0</BorderRight>
            <BorderTop>0</BorderTop>
        </BorderStyle>
        <FieldStyle>
            <Color>000000</Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </FieldStyle>
        <LabelStyle>
            <Color></Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </LabelStyle>
    </Wizard>
    <WizardStepLeft>
        <BackgroundColor>FFFFFF</BackgroundColor>
        <BorderStyle>
            <BorderBottom>1</BorderBottom>
            <BorderColor>cfeef8</BorderColor>
            <BorderLeft>1</BorderLeft>
            <BorderRight>1</BorderRight>
            <BorderTop>1</BorderTop>
        </BorderStyle>
        <FieldStyle>
            <Color>000000</Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </FieldStyle>
        <LabelStyle>
            <Color></Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </LabelStyle>
    </WizardStepLeft>
    <WizardStepRight>
        <BackgroundColor>cfeef8</BackgroundColor>
        <BorderStyle>
            <BorderBottom>2</BorderBottom>
            <BorderColor>cfeef8</BorderColor>
            <BorderLeft>2</BorderLeft>
            <BorderRight>2</BorderRight>
            <BorderTop>2</BorderTop>
        </BorderStyle>
        <FieldStyle>
            <Color>000000</Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </FieldStyle>
        <LabelStyle>
            <Color></Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </LabelStyle>
    </WizardStepRight>
    <WizardSupport>
        <Visible>false</Visible>
        <BackgroundColor>ffffff</BackgroundColor>
        <BorderStyle>
            <BorderBottom>3</BorderBottom>
            <BorderColor>ffffff</BorderColor>
            <BorderLeft>3</BorderLeft>
            <BorderRight>3</BorderRight>
            <BorderTop>1000</BorderTop>
        </BorderStyle>
        <FieldStyle>
            <Color>ffffff</Color >
            <Family>Verdana</Family>
            <Size>11</Size>
        </FieldStyle>
        <LabelStyle>
            <Color></Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </LabelStyle>
    </WizardSupport>
    <WizardTitle>
        <BackgroundColor>FFFFFF</BackgroundColor>
        <BorderStyle>
            <BorderBottom>2</BorderBottom>
            <BorderColor>01a3d6</BorderColor>
            <BorderLeft>2</BorderLeft>
            <BorderRight>2</BorderRight>
            <BorderTop>2</BorderTop>
        </BorderStyle>
        <FieldStyle>
            <Color>000000</Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </FieldStyle>
        <LabelStyle>
            <Color></Color>
            <Family>Verdana</Family>
            <Size>11</Size>
        </LabelStyle>
    </WizardTitle>
    <Buttons>
        <BackgroundColor>01a3d6</BackgroundColor>
        <BorderStyle>
            <BorderBottom>1</BorderBottom>
            <BorderColor>01a3d6</BorderColor>
            <BorderLeft>1</BorderLeft>
            <BorderRight>1</BorderRight>
            <BorderTop>1</BorderTop>
        </BorderStyle>
        <FieldStyle>
            <Color>000000</Color>
            <Family>Verdana</Family>
            <Size>12</Size>
        </FieldStyle>
        <LabelStyle>
            <Color>000000</Color>
            <Family>Verdana</Family>
            <Size>12</Size>
        </LabelStyle>
    </Buttons>
</UIStyle>]]></custom_theme_data>
            </sagepaymentspro>
            <sagepaymentsprodirect>
                <active>0</active>
                <model>ebizmarts_sagepaymentspro/sageMethodDirect</model>
            </sagepaymentsprodirect>
            <sagepaymentsproserver>
                <active>0</active>
                <model>ebizmarts_sagepaymentspro/sageMethodServer</model>
            </sagepaymentsproserver>
        </payment>
    </default>
</config>