<?xml version="1.0"?>
<config>
    <modules>
        <Qualityunit_Pap>
            <version>1.2.4</version>
        </Qualityunit_Pap>
    </modules>
    <global>
        <models>
            <pap>
                <class>Qualityunit_Pap_Model</class>
            </pap>
            <paypal>
                <rewrite>
                    <standard>Qualityunit_Pap_Model_Paypal</standard>
                    <ipn>Qualityunit_Pap_Model_PaypalIpn</ipn>
                </rewrite>
            </paypal>
        </models>
        <blocks>
            <pap>
                <class>Qualityunit_Pap_Block</class>
            </pap>
            <paypal>
                <rewrite>
                    <standard_redirect>Qualityunit_Pap_Block_Paypal_Redirect</standard_redirect>
                </rewrite>
            </paypal>
        </blocks>
        <helpers>
            <pap>
                <class>Qualityunit_Pap_Helper</class>
            </pap>
        </helpers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <pap_checkoutObserver>
                        <type>model</type>
                        <class>pap/checkout_observer</class>
                        <method>onCheckoutSuccess</method>
                    </pap_checkoutObserver>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <pap_checkoutObserver>
                        <type>model</type>
                        <class>pap/checkout_observer</class>
                        <method>onCheckoutSuccess</method>
                    </pap_checkoutObserver>
                </observers>
            </checkout_multishipping_controller_success_action>
            <sales_order_save_after>
                <observers>
                    <pap_order_modified>
                        <type>singleton</type>
                        <class>pap/observer</class>
                        <method>orderModified</method>
                    </pap_order_modified>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <pap>
                    <file>pap.xml</file>
                </pap>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <pap_order_success>
                        <type>singleton</type>
                        <class>pap/observer</class>
                        <method>thankYouPageViewed</method>
                    </pap_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <pap_order_success>
                        <type>singleton</type>
                        <class>pap/observer</class>
                        <method>thankYouPageViewed</method>
                    </pap_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <pap before="Mage_Adminhtml">Qualityunit_Pap_Adminhtml</pap>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pap>
                    <file>pap.xml</file>
                </pap>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pap_config>
                                            <title>Post Affiliate Pro</title>
                                        </pap_config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <pap>
            <api>
                <url>www.mysite.com/partners</url>
                <username>merchant@example.com</username>
                <accountid>default1</accountid>
            </api>
            <tracking>
                <trackingmethod>javascript</trackingmethod>
                <trackclicks>1</trackclicks>
                <trackforcampaign></trackforcampaign>
                <perproduct>1</perproduct>
                <coupontrack>0</coupontrack>
                <autostatuschange>1</autostatuschange>
                <data1>empty</data1>
                <data2>empty</data2>
                <data3>empty</data3>
                <data4>empty</data4>
                <data5>empty</data5>
            </tracking>
            <affiliate>
            	<createaff>0</createaff>
            	<createaffproducts>0</createaffproducts>
            </affiliate>
        </pap>
    </default>
</config>