<?xml version="1.0"?>
<config>
    <sections>
        <pap_config translate="label" module="pap">
            <class>pap-menu-section</class>
            <label>Post Affiliate Pro</label>
            <header_css>pap-header</header_css>
            <tab>sales</tab>
            <sort_order>90</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hint>
                    <frontend_model>pap/adminhtml_system_config_fieldset_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <api translate="label">
                    <label>API Connection</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <url translate="label">
                            <label>Application URL</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>pap/validateapi</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Enter the domain name and path where your Post Affiliate Pro or Post Affiliate Network is installed at. E.g. if you access your merchant panel at "www.mysite.com/partners/merchants/" then the value needed for this field is "www.mysite.com/partners"]]></tooltip>
                        </url>
                        <username translate="label">
                            <label>API Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Enter your merchant login username (the one you use to log into PAP as an admin)]]></tooltip>
                        </username>
                        <password translate="label">
                            <label>API Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Enter your merchant login password (the one you use to log into PAP as an admin)]]></tooltip>
                        </password>
                        <accountid translate="label">
                            <label>Account ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Enter your merchant account ID; applies to Post Affiliate Network]]></tooltip>
                        </accountid>
                    </fields>
                </api>
                <tracking translate="label">
                    <label>Tracking</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <trackingmethod translate="label">
                            <label>Tracking method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pap/config_source_trackSales</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trackingmethod>
                        <trackclicks translate="label">
                            <label>Track clicks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Choose whether the click tracking code should be automatically added to your site or not.]]></tooltip>
                        </trackclicks>
                        <trackforcampaign>
                            <label>Track into campaign</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[You can set if all sales will always be assigned to a specific campaign (identified by campaign ID).]]></tooltip>
                        </trackforcampaign>
                        <perproduct translate="label">
                            <label>Per Product Commissions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Per product tracking enabled with "Yes". When "No" is selected a commission will be created for whole order.]]></tooltip>
                        </perproduct>
                        <coupontrack translate="label">
                            <label>Coupon tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Enabled with "Yes", the system will set a coupon code to the sale tracker.]]></tooltip>
                        </coupontrack>
                        <autostatuschange translate="label">
                            <label>Update commission status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Orders change status e.g. when paid or cancelled, or refunded. Do you want the commission to change status accordingly?]]></tooltip>
                        </autostatuschange>
                        <data1 translate="label">
                            <label>Custom Data 1</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pap/config_source_customVariables</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Optional extra data value, will be replaced with an appropriate value based on order details]]></tooltip>
                        </data1>
                        <data2 translate="label">
                            <label>Custom Data 2</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pap/config_source_customVariables</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Optional extra data value...]]></tooltip>
                        </data2>
                        <data3 translate="label">
                            <label>Custom Data 3</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pap/config_source_customVariables</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Optional extra data value...]]></tooltip>
                        </data3>
                        <data4 translate="label">
                            <label>Custom Data 4</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pap/config_source_customVariables</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Optional extra data value...]]></tooltip>
                        </data4>
                        <data5 translate="label">
                            <label>Custom Data 5</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pap/config_source_customVariables</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[Optional extra data value...]]></tooltip>
                        </data5>
                    </fields>
                </tracking>
                <affiliate translate="label">
                    <label>Affiliate creation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<createaff translate="label">
                            <label>Create affiliate</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[An affiliate account would be created automatically for every customer making and order in your store.]]></tooltip>
                        </createaff>
                        <createaffproducts translate="label">
                            <label>Create on specific product</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><createaff>1</createaff></depends>
                            <tooltip><![CDATA[An affiliate account will only be created if a customer ordered a specific product (defined by product ID). No product defined means affiliate will be created for any product. Use comma separator for more products.]]></tooltip>
                        </createaffproducts>
                    </fields>
                </affiliate>
            </groups>
        </pap_config>
    </sections>
</config>