<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Born_B2bAccess>
            <version>1.0.0</version>
        </Born_B2bAccess>
    </modules>
    <frontend>
        <events>
            <controller_action_predispatch_customer_account_create>
                <observers>
                    <restrict_customer_account_create>
                        <class>born_b2baccess/observer</class>
                        <method>b2bRestriction</method>
                    </restrict_customer_account_create>
                </observers>
            </controller_action_predispatch_customer_account_create>
            <controller_action_predispatch_customer_account_edit>
                <observers>
                    <restrict_customer_account_create>
                        <class>born_b2baccess/observer</class>
                        <method>b2bRestriction</method>
                    </restrict_customer_account_create>
                </observers>
            </controller_action_predispatch_customer_account_edit>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <restrict_customer_account_createpost>
                        <class>born_b2baccess/observer</class>
                        <method>b2bRestriction</method>
                    </restrict_customer_account_createpost>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_bornajax_customer_account_myinfoSave>
                <observers>
                    <restrict_bornajax_customer_account_myinfoSave>
                        <class>born_b2baccess/observer</class>
                        <method>b2bRestriction</method>
                    </restrict_bornajax_customer_account_myinfoSave>
                </observers>
            </controller_action_predispatch_bornajax_customer_account_myinfoSave>
            <controller_action_predispatch_customer_address_new>
                <observers>
                    <restrict_customer_address_new>
                        <class>born_b2baccess/observer</class>
                        <method>b2bRestriction</method>
                    </restrict_customer_address_new>
                </observers>
            </controller_action_predispatch_customer_address_new>
            <controller_action_predispatch_customer_address_edit>
                <observers>
                    <restrict_customer_address_edit>
                        <class>born_b2baccess/observer</class>
                        <method>b2bRestriction</method>
                    </restrict_customer_address_edit>
                </observers>
            </controller_action_predispatch_customer_address_edit>
            <controller_action_predispatch_customer_address_formPost>
                <observers>
                    <restrict_customer_address_formPost>
                        <class>born_b2baccess/observer</class>
                        <method>b2bRestriction</method>
                    </restrict_customer_address_formPost>
                </observers>
            </controller_action_predispatch_customer_address_formPost>
            <controller_action_predispatch_customer_address_delete>
                <observers>
                    <restrict_customer_address_delete>
                        <class>born_b2baccess/observer</class>
                        <method>b2bRestriction</method>
                    </restrict_customer_address_delete>
                </observers>
            </controller_action_predispatch_customer_address_delete>
        </events>
    </frontend>
    <global>
        <helpers>
            <born_b2baccess>
                <class>Born_B2bAccess_Helper</class>
            </born_b2baccess>
        </helpers>
        <models>
            <born_b2baccess>
                <class>Born_B2bAccess_Model</class>
            </born_b2baccess>
        </models>
    </global>
    <default>
        <b2baccess_restriction>
            <b2baccess>
                <enabled>0</enabled>
                <disable_registration>0</disable_registration>
            </b2baccess>
        </b2baccess_restriction>
    </default>
</config>
