<config>    
    <modules>
        <Astral_Integrations>
            <version>0.1.0</version>
        </Astral_Integrations>
    </modules>
    <global>
        <blocks>
            <astral_integrations_block>
                <class>Astral_Integrations_Block</class>
            </astral_integrations_block>
        </blocks>
        <helpers>
            <astral_integrations_helper>
                <class>Astral_Integrations_Helper</class>
            </astral_integrations_helper>
        </helpers>
        <models>
            <astral_integrations_models>
                <class>Astral_Integrations_Model</class>
            </astral_integrations_models>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <astral_integrations_add_to_cart>
                        <class>astral_integrations_models/observer</class>
                        <method>addToCart</method>
                    </astral_integrations_add_to_cart>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <astral_integrations_admin>
                                            <title>Astral Affiliate Integrations</title>
                                        </astral_integrations_admin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <astral_integrations>
                    <file>astral/astral_integrations.xml</file>
                </astral_integrations>
            </updates>
        </layout>
    </frontend>
</config> 