<?xml version="1.0"?>
<!--
 * DynamicYield_Integration
 *
 * @category     DynamicYield
 * @package      DynamicYield_Integration
 * @author       Dynamic Yield Ltd <support@dynamicyield.com.com>
 * @copyright    Copyright (c) 2017 Dynamic Yield (https://www.dynamicyield.com)
 -->
<config>
    <modules>
        <dynamicyield_integration>
            <version>0.2.18</version>
        </dynamicyield_integration>
    </modules>
    <global>
        <models>
            <dynamicyield_integration>
                <class>DynamicYield_Integration_Model</class>
                <resourceModel>dynamicyield_integration_resource</resourceModel>
            </dynamicyield_integration>
            <dynamicyield_integration_resource>
                <class>DynamicYield_Integration_Model_Resource</class>
            </dynamicyield_integration_resource>
        </models>
        <helpers>
            <dynamicyield_integration>
                <class>DynamicYield_Integration_Helper</class>
            </dynamicyield_integration>
        </helpers>
        <events>
            <resource_get_tablename>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/autoload</class>
                        <method>autoload</method>
                    </dynamicyield_integration>
                </observers>
            </resource_get_tablename>
            <admin_system_config_changed_section_dyi_config_section>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/config_observer</class>
                        <method>handle_ConfigurationUpdated</method>
                    </dynamicyield_integration>
                </observers>
            </admin_system_config_changed_section_dyi_config_section>
            <checkout_cart_add_product_complete>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_addedToCart</method>
                    </dynamicyield_integration>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_quote_remove_item>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_removedFromCart</method>
                    </dynamicyield_integration>
                </observers>
            </sales_quote_remove_item>
            <controller_action_predispatch>
                <observers>
                    <controller_action_before>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_emptyCart</method>
                    </controller_action_before>
                </observers>
            </controller_action_predispatch>
            <wishlist_add_product>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_addedToWishlist</method>
                    </dynamicyield_integration>
                </observers>
            </wishlist_add_product>
            <sales_order_place_after>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_afterPlaceOrder</method>
                    </dynamicyield_integration>
                </observers>
            </sales_order_place_after>
            <customer_register_success>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_afterRegister</method>
                    </dynamicyield_integration>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_afterLogin</method>
                    </dynamicyield_integration>
                </observers>
            </customer_login>
            <salesrule_validator_process>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_validateSalesRule</method>
                    </dynamicyield_integration>
                </observers>
            </salesrule_validator_process>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>coreBlockAbstractPrepareLayoutBefore</method>
                    </dynamicyield_integration>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_searchControllerBefore</method>
                    </dynamicyield_integration>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>event_subscribedToNewsletter</method>
                    </dynamicyield_integration>
                </observers>
            </newsletter_subscriber_save_commit_after>
        </events>
        <blocks>
            <dynamicyield_integration>
                <class>DynamicYield_Integration_Block</class>
            </dynamicyield_integration>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <controller_action_before>
                        <class>DynamicYield_Integration_Model_Observer</class>
                        <method>checkCron</method>
                    </controller_action_before>
                    <productfeed_notify>
                        <class>DynamicYield_Integration_Model_Observer</class>
                        <method>productFeedWarnings</method>
                    </productfeed_notify>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <dynamicyield_integration module="dynamicyield_integration">
                    <file>dynamicyield_integration.xml</file>
                </dynamicyield_integration>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>addScripts</method>
                    </dynamicyield_integration>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </dynamicyield_integration>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_layout_load_before>
                <observers>
                    <dynamicyield_integration>
                        <type>singleton</type>
                        <class>dynamicyield_integration/observer</class>
                        <method>handleContext</method>
                    </dynamicyield_integration>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <routers>
            <dynamicyield_integration>
                <use>standard</use>
                <args>
                    <module>DynamicYield_Integration</module>
                    <frontName>storage</frontName>
                </args>
            </dynamicyield_integration>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <dyi_export_product_feed>
                <run>
                    <model>dynamicyield_integration/cron::exportFeed</model>
                </run>
            </dyi_export_product_feed>
            <dyi_cron_validator>
                <run>
                    <model>dynamicyield_integration/cron::run</model>
                </run>
                <groups>all</groups>
            </dyi_cron_validator>
        </jobs>
    </crontab>
    <default>
        <system>
            <cron>
                <dyi_cron_validator>*/5 * * * *</dyi_cron_validator>
            </cron>
        </system>
        <dyi_config>
            <product_feed>
                <additional_attributes></additional_attributes>
                <update_rate>1,1440</update_rate>
                <feed_enable>1</feed_enable>
            </product_feed>
        </dyi_config>
        <dev>
            <dyi>
                <load_jquery>0</load_jquery>
                <category_page_filters>.block-layered-nav a</category_page_filters>
                <category_page_sort_options>.catalog-category-view .sort-by select</category_page_sort_options>
                <category_page_sort_order>.catalog-category-view .sort-by a</category_page_sort_order>
                <product_page_buttons_swatch>#product-options-wrapper .configurable-swatch-list .swatch-link</product_page_buttons_swatch>
                <product_page_dropdowns>#product-options-wrapper select.super-attribute-select</product_page_dropdowns>
                <product_page_attribute_type>{"parents":"dd","prev":"dt","clone":"","text":"","replace":[/\*/,''],"trim":""}</product_page_attribute_type>
                <product_page_attribute_value>{"find":"option:selected","text":""}</product_page_attribute_value>
                <product_page_swatch_type>{"parents":".swatch-attr","prev":".swatch-attr","find":"[id$='_label']","children":"","remove":"","end":"","text":"","trim":""}</product_page_swatch_type>
                <product_page_swatch_value>{"attr":"title"}</product_page_swatch_value>
                <category_page_sort_order_by>{"parents":".sort-by","find":"select option:selected","text":"","trim":""}</category_page_sort_order_by>
                <category_page_sort_order_direction>{"parents":".sort-by","find":".sort-by-switcher","attr":"href","match":"dir=([a-zA-Z]+)"}</category_page_sort_order_direction>
                <category_page_sort_order_action>{"parents":".sort-by","find":"select option:selected","attr":"value"}</category_page_sort_order_action>
                <category_page_sort_order_switcher>{"parents":".sort-by","find":".sort-by-switcher","first":""}</category_page_sort_order_switcher>
                <category_page_filters_type>{"parents": "dd", "prev" :"dt","text":""}</category_page_filters_type>
                <category_page_filters_price_value>{"find":".price","first":"","parent":"","clone":"","children":"","remove":".count","end":"","text":"","trim":"","replace":[/\$/g,'']}</category_page_filters_price_value>
                <category_page_filters_swatch_value>{"find":".swatch-label ","text":"","trim":""}</category_page_filters_swatch_value>
                <category_page_filters_swatch_image_value>{"find":".swatch-label img","attr":"title"}</category_page_filters_swatch_image_value>
                <category_page_filters_regular_value>{"clone":"","children":"","remove":".count","end":"","text":"","trim":""}</category_page_filters_regular_value>
                <feed_chunk_size>100</feed_chunk_size>
                <debug_mode>0</debug_mode>
                <europe_account>0</europe_account>
                <cdn_integration>No</cdn_integration>
            </dyi>
        </dev>
    </default>
</config>
