<?xml version="1.0"?>
<config>
    <modules>
        <WeltPixel_Custom>
            <version>1.0.0</version>
        </WeltPixel_Custom>
    </modules>
    <global>
        <blocks>
            <weltpixel_custom>
                <class>WeltPixel_Custom_Block</class>
            </weltpixel_custom>
            <catalog>
                <rewrite>
                    <product_list_toolbar>WeltPixel_Custom_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <weltpixel_custom>
                <class>WeltPixel_Custom_Helper</class>
            </weltpixel_custom>
        </helpers>
        <models>
            <weltpixel_selector>
                <class>WeltPixel_Custom_Model</class>
            </weltpixel_selector>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <weltpixel_custom>
                    <file>weltpixel/custom.xml</file>
                </weltpixel_custom>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <weltpixel_action_predispatch>
                        <class>WeltPixel_Custom_Model_Observer</class>
                        <method>processPreDispatch</method>
                    </weltpixel_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <product>
            <collection>
                <attributes>
                      <alt_image/>
                </attributes>
            </collection>
        </product>
    </frontend>
</config>