<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Born_OrderEdit>
            <version>1.0.0</version>
        </Born_OrderEdit>
    </modules>
    <admin>
        <routers>
            <born_orderedit>
                <use>admin</use>
                <args>
                    <module>Born_OrderEdit</module>
                    <frontName>born_orderedit</frontName>
                </args>
            </born_orderedit>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <born_orderedit>
                    <file>born_orderedit.xml</file>
                </born_orderedit>
            </updates>
        </layout>
        <translate>
            <modules>
                <Born_OrderEdit>
                    <files>
                        <default>Born_OrderEdit.csv</default>
                    </files>
                </Born_OrderEdit>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <born_orderedit>
                <class>Born_OrderEdit_Block</class>
            </born_orderedit>
        </blocks>
        <helpers>
            <born_orderedit>
                <class>Born_OrderEdit_Helper</class>
            </born_orderedit>
        </helpers>
        <models>
            <born_orderedit>
                <class>Born_OrderEdit_Model</class>
            </born_orderedit>
        </models>
    </global>
</config>
