.ingredients {
  max-width: 936px;
  margin: 0 auto 75px;
  border: 1px solid $block-border-color;
  padding: 40px 75px;
  h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
  p {
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: $mobile-m) {
  .ingredients {
    margin: 0 auto 20px;
    border: 0;
    padding: 30px 15px;
    text-align: center;
    h2 {
      font-size: 2.4rem;
      text-transform: none;
    }
    p {
      line-height: 2.4rem;
    }
  }
}
